.header {
  display: flex;
  padding: 92px 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;            
}

.header_menu {
 display: inline;
 padding-left: 10px;

}

.header__links-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
  text-underline-position: under;
}

.header__links-list-item_no-bullit {
  list-style: none;  
}

.header__link {
  width: 100%; 
}

.header__link_active {
  width: 100%;
}
 
.header__logo {
  width: 148px;
  height: 105px;
  margin-right: calc(13%);
}

.header__logo-image  {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;     
}
 .address {
  max-width: 260px;
  font-family: Raleway,sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-underline-position: under;
 }

.header__address {
  padding-left: 19px;
}


.cover {
  background: url(../images/cover.jpg);
  position: relative;
  height: 757px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  object-fit: cover;
}

 .overlay {
  background: rgb(0, 0, 0, 0.6);
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 0; 
}

.cover__title {
  display: flex;
  flex-direction: column;
  letter-spacing: 30px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100%; 
  text-transform: uppercase;
  align-items: center;
  width: 100%;
  letter-spacing: 30px;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.aligned-text_left {
  display: flex;
  text-align: left;
  line-height: 115%;
  position: relative;
  width: 100%;
  height: 100%;
  left: 58px;
  right: 302px;
  top: 162px;
  bottom: 74px;
  white-space: nowrap;
}

.aligned-text_center {
  display: flex;
  text-align: left;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 100%;
  left: 340px;
  top: 180px;
}
 
.aligned-text_right {
  position: relative;
  width: 100%;
  height: 100%;
  right: 24px;
  top: 198px;
  text-align: right;
  white-space: nowrap;
}

.letter-spacing-extended{
  padding-left: 28px;
}

.cover__description {
  display: flex;
  justify-content: center;
  padding-right: 59px;
}

.cover__description-text {

  position: relative;
  width: 100%;
  height: 100%;
  top: 340px;
  padding-left: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  word-spacing: 17px;
}

.bet-button {
  position: relative;
  top: 329px;
  padding: 12px 28px;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}



.lots {
  width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  top: 136px;
}

  .lots__heading {
  padding-left: 45px;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin: 26px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 25px;
  padding: 0 30px;
}

.lots__card-list-item {
  height: 100%;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  width: 100%;
}

.card {
  display: flex; 
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  color: rgb(255, 255, 255);
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  padding: 47px 41px 0;
  width: 100%;
}

.card__text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;  
  padding: 0 30px 43px 43px;
  z-index: 1;
  position: relative;
}

 .lots__look-more-link {
  display: block;
  margin: 28px 0 0 70px;
  color: rgb(0, 0, 0);
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-decoration-line: underline;
  text-underline-position: under;
  }

.about {
  display: flex;
  gap: 25px  0;
  position: relative;
  width: 100%;
  top: 314px;
}

.about__logo {
  display: flex;
  background-color: #000;
  border-radius: 50%;
  padding: 63px 45px;
  margin-left: 82px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  display: block;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  height: 5px;
  padding: 98px 0 45px;
  margin-left: 68px;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  gap: 25px;
  margin-top: 100px;
  margin-left: 68px;
  margin-right: 10px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 492px;
  width: 100%;
  padding: 0 52px 0 58px;
}

.footer_menu {
  justify-self: center;
  text-align: center;
}
 
.footer__menu-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  list-style-type: none;
}

.footer__menu-list-item {
  color: #000;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link {
  width: 100%; 
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__links-list-item {
  text-underline-position: under;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 47px;
  padding-right: 7px;
}

.footer__social-list-item {
  list-style: none;

}

.footer__social-icon {
  width: auto;
  height: 46px;
}